h1,h2,h3, p {
    text-align: center;
}

input {
    width: 200px;
}

.submit {
    width: 60px;
}

form {
    display: flex;
    justify-content: center;
}

.alert {
    color: red;
}

.confirmation {
    color: green;
}